body{
  overflow: hidden;
}
h1{
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}
p,
span,
a,
button{
  font-family: "Arsenal", sans-serif;
  font-weight: 400 !important;
  font-style: normal;
}
.menu_vertical {
  background: black;
  width: 12%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  padding: 1em 2em;
  float: left;
}
.menu_v{
  padding-top: 44px;
  height: 25em;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu_horizontal {
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black
}
.subtitle{
  margin-bottom: 15px;
  color: #979797;
}
.subtitle:hover{
  margin-bottom: 15px;
  color: #979797;
}
.cuerpo{
  height: 91.7vh;
  background: black;
  display: flex;
  padding: 0 1.8em 1.8em;
}
.contenedor_principal{
  width: 100%;
  background: white;
  border-radius: 27px;
  padding: 3em 9em;
}
.accordion {
  height: 58px;
  margin-top: 14px;
}
.accordion-button{
  background: black;
  padding: 0;
  color: white !important;
}
.acordion_content{
  background: black;
  padding: 10px 0 0 1em;
}

.accordion-button:not(.collapsed) {
  background-color: black;
  box-shadow: none;
}
a{
  color: white ;
  cursor: pointer;
}
.a-libros{
  color: white;
}

.nav-link:hover,
.nav_link {
  color: #ffc108;
}
.nav-link,
.nav-link.active {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  color: white;
  text-decoration: none;
  background: 0 0;
  border: 0;
  cursor: pointer;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
.activee{
  color: #ffc108;
}
.navbar-brandd{
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: var(--bs-navbar-brand-font-size);
  color:white;
  text-decoration: none;
  white-space: nowrap;
}
.nav-link:focus{
  color:#ffc108 ;
}