.conteiner{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 4em 3em;
  height: 98%;
}
.table-warning {
  --bs-table-color: #000;
  --bs-table-bg: #ffc200 ;
  --bs-table-border-color: #ccc2a4;
  --bs-table-striped-bg: #f2e7c3;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #e6dbb9;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #ece1be;
  --bs-table-hover-color: #000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}
.content {
  width: 100%;
  overflow-y: scroll;
}
.tr-row{
  height: 4em;
}
.th_color{
  color: #373737 !important;
  margin-bottom: 3em;
  font-family: serif;
  font-variant-caps: all-small-caps;
  border: none;
}
td,
th{
  align-content: center;
}
.consultar{
  margin-bottom: 27px;
}
.title{
  margin-bottom: 2em;
  display: block;
  font-size: 26px;
  color: #5a5a5a;
  align-self: start;
}
.p_crear{
  font-size: 15px;
}
.table_title{
  margin: 0;
}
.input{
  border-radius: 8px;
  border: 1.6px solid #dadada;
  height: 30px;
  margin-right: 10px;
}